/* ELEMENTS */

body {
  background-color: #F8F1E9;
  font-family: "Source Sans Pro";
  height: auto;
  margin-bottom: 70px;
 }

.product_page {
  height: 950px;
}

header {
  position: fixed;
  background-color: #FCC3AC;
  height: 50px;
  width: 100%;
  top: 0px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .4);
  z-index: 2;
}

header ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

header ul li {
  text-decoration: none;  
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.footer-wrap ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.footer-wrap ul li {
  text-decoration: none;  
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

h2 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #272A47;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #272A47;
  text-align: left;
}

a {
  text-decoration: none;
}

/* BUTTONS */

a.large-button {
  text-decoration: none;
  position: absolute;
  color: #ffffff;
  padding: 17px 60px 17px 60px;
  background-color: #272A47;
  font-weight: 200;
  font-size: 18px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .4);
  top: 335px;
  left: 100px;
  }

  a.med-button {
  text-decoration: none;
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  margin-left: -68px;
  margin-top: -22px;
  width: 136px;
  height: 44px;
  font-weight: 200;
  font-size: 16px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .4);
  display: table;
  }

    .med-button p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  a.xl-button {
    width: 355px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .4);
    color: #ffffff;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 18px;

  }

  a.small-button{
  text-decoration: none;
  position: absolute;
  color: #272A47;
  width: 80px;
  height: 32px;
  font-weight: 200;
  font-size: 16px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .4);
  display: table;
  }

  a.small-button .white {
    background-color: #ffffff;
  }

  .small-button p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }


  a.add_cart_button{
  text-decoration: none;
  position: absolute;
  color: #bbbbbb;
  width: 163px;
  height: 50px;
  top: 536px;
  left: 190px;
  font-weight: 400;
  font-size: 16px;
  display: table;
  border-color: #bbbbbb;
  border-width: 1px;
  border-style: solid;
  background-color: none;

  }

  .add_cart_button p{
    display: teble-cell;
    text-align: center;
    veritcal-align: middle;
  }

  .pink {
     background-color: #FCC3AC;
  }

  .navy{
      background-color: #272A47;
  }

  .green{
    background-color: #C6D2C9;
  }

/* HEADER */

header ul li {
  position: relative;
  top: 17px;
  padding-left: 20px;
  padding-right: 20px;
}

header ul li a {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #272A47;
  text-decoration: none;
}

header  ul li p {
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  display: table-cell;
  top: 0px;
  right: 0px;
  padding-left: 62px;
}

header .icon {
  color: #ffffff;
}

#menu-button {
  float: left;
  position:absolute;
  left: 0;
  top: 20;
}

#cart-button {
  float: right;
  right: 0px;
  position: absolute;
}

#back-button {
  float: left;
}

#back-button i {
  font-size: 22px;
}

/* HOME PAGE */

.home-content {
  position: relative;
  padding-top: 20px;
}

.top {
  padding-top: 50px;
}

.home-content img{
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .4);
}

  .circle {
      position: absolute;
      margin: auto;
      width: 88px;
      height: 88px;
      border-radius: 50%;
      border: 4px solid #ffffff;
      z-index: 1;
      top: 55px;
      left: 144px;
      opacity: .4;
  }

  .triangle-right {
      position: absolute;
      margin: auto;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-left: 40px solid rgb(255, 255, 255);
      border-bottom: 20px solid transparent;
      z-index: 1;
      top: 83px;
      left: 178px;
      opacity: .4;
}

#insta1 {
  float: left;
}

#insta2 {
  padding-left: 11px;
}

#insta3 {
  float:right;
}


/* FOOTER */

.footer-text {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #ffffff;
  font-weight: 200;
  text-decoration: none;
  font-size: 14px;
}

.footer-wrap {
  margin-top: 30px;
  width: 100%;
  padding-bottom: 40px;
  display: block;
  height: 155px;
  clear:both;
}

.footer-text .fa {
  padding: 20px 10px 40px 10px;
  font-size: 19px;
  width: 20px;
}

.footer-text .links {
  width: 250px;
}

.footer-text .links li {
  padding-left: 10px;
  padding-right: 10px;
}

.footer-text .links li a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 200;
}

.footer-text .social li a i {
  text-decoration: none;
  color: #ffffff;
  font-weight: 200;
}


/* BROWSE PRODUCT PAGE */

.browse_item {
  text-align: center;
  display: inline-block;
}

#left {
  width: 183px;
  height: 950px;
  float: left;
}

#right {
  width: 183px;
  height: 950px;
  float: right;
}

.browse_item a p {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #272A47;
  text-align: center;
  font-size: 14px;
  line-height: 12px;
}

.browse_item a .product_price {
  font-weight: 400;
  padding-bottom: 15px;
}

/* PRODUCT DETAIL PAGE */

body .product_page {
  height: 1500px;
}

.product_page .product_image{
  padding-top: 70px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.product_page .product_image img {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .4);
} 

.product_page #info_btn {
  top: 110px;
  right: 40px;
  margin-left: -68px;
  margin-top: -22px;
}

    /* size choice dropdown menu */

ul.size_choice {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}

ul.size_choice li {
  font-family:"Source Sans Pro", Helvetica, sans-serif;
  font-size: 16px;
  font-weight:400;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  top:-950px;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

ul.size_choice li:click {
  background: #555;
  color: #fff;
}

ul.size_choice li ul.size_options {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  display: none;
  opacity: 0;
  visibility: hidden;
}

ul.size_choice li ul.size_options li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}

ul.size_choice li ul.size_options li:click { 
  background: #666; 
}

ul.size_choice li:click ul.size_options {
  display: block;
  opacity: 1;
}

ul.size_choice li:click > ul.size_options {
  display:block
}
/*  a.size-button{
  text-decoration: none;
  position: absolute;
  color: #272A47;
  width: 163px;
  height: 50px;
  top: 536px;
  left: 20px;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .4);
  display: table;
  background-color: #ffffff;
  }

  .size_choice i {
  text-align: right;
  position: absolute;
  top: 552px;
  left: 156px;
  font-size: 20px;
}

  .size-button p{
    display: teble-cell;
    text-align: center;
    veritcal-align: middle;
  }*/

  /* CART */

.cart {
  line-height: 6px;
}

.cart .right_column {
  float:right;
  width: 100px;
  height: 200px;
}

.cart img {
  padding: 20px;
  top:50px;
  position: absolute;
}

.cart p {
  font-size: 14px;
  color: #272A47;
  padding-left: 127px;
}

.cart .item_name {
  padding-top: 70px;
}

.cart .item_quantity {
  padding-top: 15px;
  padding-left: 147px;
}

.cart .icon {
  color: #272A47;
}

.cart .icon.icons8-Minus{
  padding-left: 120px;
  padding-top:85px;
}

.cart .icon.icons8-Edit-Filled {
  padding-left: 218px;
  padding-top: 48px;
}

.cart .icon.icons8-Plus {
  padding-left: 195px;
  padding-top:85px;
}

.cart .icon.icons8-Delete {
  padding-left: 330px;
  padding-top: 20px;
}

.cart .item_price {
  top:125px;
  left: 193px;
  position: absolute;
}

.cart .line_break {
  width: 90%;
  color: #ffffff;
  margin-top:30px;
  display: block;
}

.cart ul {
  line-height: 25px;
  list-style: none;
  padding-left: 50px;
}

.cart h3 {
  padding-left: 30px;
  padding-top: 10px;
  position: relative;
}

.cart ul li {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #272A47;
  font-size: 14px;
  font-weight: 200;
}

.cart ul .total {
  font-weight: 400;
}

.cart ul.right_column {
  position: absolute;
  left: 195px;
  text-align: right;
}

.cart ul.left_column {
  width: 183px;
  float: left;
}

.cart a.xl-button {
  top: 370px;
  left: 10px;   
  display: table-cell;
  position: absolute;
  padding-top: 20px ;
  }

  /* CUSTOMER INFO */

body.cust_info {
  height: 2000px;
}

.cust_info p{
  position: relative;
  padding-top: 50px;
  font-weight: 200;
  font-size: 20px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #272A47;
  padding-left: 20px;
}

.cust_info a.xl-button {
  top: 630px;
  left: 10px;
  display: table-cell;
  position: absolute;
  padding-top: 11px;
  padding-bottom: 11px;
}

.cust_info input {
  type: text;
  width: 335px;
  height: 50px;
  border-width: 1px;
  border-color: #272A47;
  border-style: solid;
  padding-left: 20px;
  margin-bottom: 10px;
  background-color: #ffffff;
  display: block;
  font-size: 24px;
  font-weight: 400;
  color: #272A47;
  vertical-align: middle;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-size: 16px;
  font-weight: 200;
  color: #8f8f8f;
  vertical-align: middle;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 16px;
  font-weight: 200;
  color: #8f8f8f;
  vertical-align: middle;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 16px;
  font-weight: 200;
  color: #8f8f8f;
  vertical-align: middle;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 16px;
  font-weight: 200;
  color: #8f8f8f;
  vertical-align: middle;
}

/* FINALIZE ORDER */

.cart #finalize a.xl-button {
  top: 750px;
    }

.finalize a p{
  color: #ffffff;
  z-index: 3;
  padding-left: 0px;
}

.finalize #shipinfo_edit {
  top: 372px;
  left: 270px;
}

.finalize #shipmethod_edit {
  top: 523px;
  left: 270px;
}

.finalize #credcard_add {
  top: 650px;
  left: 270px;
}

.finalize #cc_popup {
  background-color: #ffffff;
  width: 90%;
}

/* ORDER SUCCESS */

.order_success {
  width: 265px;
  position: center;
  padding-left: 55px;
}

.order_success h3 {
  margin-top: 80px;
  position: relative;
  font-size: 20px;
  text-align: center;
  color: #272A47;
}

.order_success p {
  font-size: 14px;
  color: #272A47;
  text-align: center;
}

.order_success ul {
  list-style: none;
  width: 107px;
  padding-left: 85px; 
  padding-top: 10px;
}

.order_success i {
  color: #272A47;
  float: left;
  font-size: 20px;
  padding-left: 8px;
  padding-right: 8px;
}